<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Senacfy</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Senacfy</h1>
            <div class="mt-3">
                <a class="btn btn-primary" href="/administracao">Administração</a>
                <a class="btn btn-secondary" href="/musicas">Musicas</a>
            </div>
        </div>
    </body>
</html>
